html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 22%;
	left: 20%;
	
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tfoot {
	th {
		background-color: #49a09d;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
.button {
    position: relative;
    left: 62%;
    top: 95px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #49a09d;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
  }
  
  .button:active {
    border: 1px solid #49a09d;
  }

  #clear {
    position: relative;
    left: 51%;
    top: 56px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    border: 1px solid #49a09d;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    text-align: center;
    color: white;
   }
   
   #clear:hover {
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   #clear:active {
    transform: translate(0em, 0.2em);
   }

   

   .btns:hover, .wBtns:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.wBtns {
    display: inline-block;
    background: #E23DF6;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    padding: 10px;
    width: 70px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

#popup-window {
    position: fixed;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    width: 275px;
    height: 385px;
    border: 4px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}
label {
    font-family: Arial;
    color: white;
    display: inline-block;
}
input[type="text"] {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
form {
    display: inline;
}
.ms-editor-squiggles-container {
    display: none !important;
}

.numInput {
  display: inline-block;
  position: relative;
  left: 10px;
}

@media only screen and (min-width:1920px) {
  .container {
    position: absolute;
    top: 17%;
    left: 28.5%;
  }
  #clear {
    position: relative;
    left: 53%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    position: absolute;
    top: 16%;
    left: 15%;
  }
  table {
    width: 600px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  #clear {
    position: relative;
    left: 41%;
  }
}

@media only screen and (min-width: 1080px) and (min-height: 2400px) {
  .container {
    position: absolute;
    top: 7%;
    left: 21%;
  }
  table {
    width: 600px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  #clear {
    position: relative;
    left: 46%;
  }
}

@media only screen and (max-width: 500px) {

  .container {
    position: absolute;
    top: 22%;
    left: 15%;
  }
  table {
    width: 400px;
    
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  #clear {
    position: relative;
    left: 29%;
  }
} 